* {
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
  box-sizing:inherit
}
body {
  font-family:'Inter',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color:#eee;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  margin:0;
  padding:0;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
#cast {
  position:absolute;
  top:.25rem;
  right:.25rem;
  margin:env(safe-area-inset-top) env(safe-area-inset-right) 0 0
}
.popup {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  padding:1rem;
  font-size:.875rem;
  background-color:#fff;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);
  box-shadow:0 1px 2px rgba(0,0,0,0.25)
}
.oldlink {
  position:absolute;
  bottom:.5rem;
  right:.5rem;
  margin:0 env(safe-area-inset-right) env(safe-area-inset-bottom) 0
}
.oldlink a {
  font-size:.75rem
}
.oldlink a:not(:hover) {
  text-decoration:none
}
button[is='google-cast-button'] {
  width:2.5rem;
  height:2.5rem
}
.messages {
  position:absolute;
  bottom:2rem;
  right:.5rem;
  background-color:#fff;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  padding:.5rem;
  width:13rem
}
.messages-list {
  max-height:10rem;
  overflow-x:hidden;
  overflow-y:auto
}
.message {
  margin-bottom:.5rem
}
.messages.opened .messages-title {
  margin-bottom:.5rem
}
.messages-title {
  margin:-.5rem;
  padding:.5rem;
  font-size:.875rem;
  font-weight:500;
  background-color:#222;
  color:#fff
}
.messages-title:hover {
  background-color:#333
}
.message-name {
  display:inline-block;
  font-size:.75rem;
  font-weight:600
}
.message-time {
  margin-left:.375rem;
  display:inline-block;
  font-size:.75rem;
  color:#ccc
}
.message-message {
  font-size:.75rem
}
.messages-compose input {
  width:100%;
  font:inherit;
  font-size:.75rem;
  padding:.5rem;
  margin-bottom:.5rem
}
.messages-compose button {
  width:100%;
  border:0;
  background-color:#222;
  color:#fff;
  padding:.5rem;
  font:inherit;
  font-size:.875rem;
  font-weight:500
}
.stage {
  position:fixed;
  left:calc(50% - 50em);
  top:calc(50% - 28.125em);
  width:100em;
  height:56.25em;
  border-radius:.5em;
  border:3px solid transparent;
  -webkit-transition:border-color 0.5s;
  -moz-transition:border-color 0.5s;
  -o-transition:border-color 0.5s;
  -ms-transition:border-color 0.5s;
  transition:border-color 0.5s
}
.stage .cards {
  position:absolute;
  top:50%;
  left:50%
}
.stage .players {
  position:absolute;
  top:50%;
  left:50%
}
.card {
  position:absolute;
  width:6.25em;
  height:8.75em;
  left:-3.125em;
  top:-4.375em;
  overflow:hidden;
  background-color:#fff;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:contain;
  border-radius:.375em;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
  box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
.menu {
  position:absolute;
  top:0;
  left:0;
  margin:.125rem;
  margin:env(safe-area-inset-top) 0 0 env(safe-area-inset-left)
}
.menu .menu-item {
  display:inline-block;
  background-color:#222;
  color:#fff;
  margin:.125rem;
  padding:.75rem;
  border-radius:.1875rem
}
.menu .menu-item:hover {
  background-color:#fff;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  color:#222
}
.menu .menu-item:active {
  background-color:#fff;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.375);
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.375);
  color:#555
}
.multiplayer {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:-webkit-box;
  display:-moz-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:box;
  display:flex;
  -webkit-box-align:center;
  -moz-box-align:center;
  -o-box-align:center;
  -ms-flex-align:center;
  -webkit-align-items:center;
  align-items:center;
  -webkit-box-pack:center;
  -moz-box-pack:center;
  -o-box-pack:center;
  -ms-flex-pack:center;
  -webkit-justify-content:center;
  justify-content:center
}
.multiplayer .input {
  background-color:#fff;
  color:#222;
  width:20rem
}
.multiplayer .input .label {
  padding:.75rem;
  text-align:center
}
.multiplayer .input input {
  display:block;
  width:100%;
  border:0;
  outline:0;
  background-color:#fff;
  color:#222;
  padding:.75rem;
  font:inherit;
  font-size:.75rem;
  text-align:center
}
.multiplayer .button {
  background-color:#222;
  margin:.25rem;
  padding:.75rem;
  color:#fff;
  text-align:center;
  border-radius:.1875rem
}
.multiplayer .button:hover:not(.disabled) {
  background-color:#fff;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.25);
  box-shadow:0 1px 2px rgba(0,0,0,0.25);
  color:#222
}
.multiplayer .button:active:not(.disabled) {
  background-color:#fff;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.375);
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.375);
  color:#555
}
.player {
  position:absolute;
  width:3em;
  left:-1.5em;
  top:-1.5em;
  pointer-events:none
}
.player .symbol {
  margin:0 auto
}
.player .name {
  position:absolute;
  top:4em;
  left:-1.5em;
  width:6em;
  background-color:#222;
  color:#fff;
  text-align:center;
  -webkit-transform:translate(0,-50%);
  -moz-transform:translate(0,-50%);
  -o-transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  transform:translate(0,-50%)
}
